$primary-color: 008080;
$secondary-color: #f5f5f5;

body {
  font-family: Arial, sans-serif;
  background-color: $secondary-color;
  color: $primary-color;
  
  h1, h2, h3 {
    color: $primary-color;
  }

  img.responsive-img {
    max-width: 100%;
    height: auto;
  }
}

